<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header class="header">
      <section class="header__container">
        <img class="header__container--logo" src="" alt="logo" />
        <nav class="header__container--nav">
          <ul class="header__nav">
            <li>Home</li>
            <li>Courses</li>
            <li>Instructors</li>
            <li>Blog</li>
          </ul>
        </nav>
      </section>
    </header>
    <main class="layout">
      <section class="layout__container">
        <div class="layout__container--items">
          <div class="layout__item"></div>
          <div class="layout__item"></div>
          <div class="layout__item"></div>
          <div class="layout__item"></div>
          <div class="layout__item"></div>
        </div>
        <div class="layout__container--items"></div>
      </section>
    </main>

    <footer class="footer">
      <section class="footer__container"></section>
    </footer>
  </body>
</html>
